<section class="social-relative mb-4 text-center">
    <a class="btn btn-outline-light btn-floating m-1" href="https://www.facebook.com/anton.ganev.9/" role="button"><i class="fab fa-facebook-f"></i></a>
    <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="fab fa-google"></i></a>
    <a class="btn btn-outline-light btn-floating m-1" href="https://www.instagram.com/a_ganev/" role="button"><i class="fab fa-instagram"></i></a>
    <a class="btn btn-outline-light btn-floating m-1" href="https://www.linkedin.com/in/anton-ganev-029b89318/" role="button"><i class="fab fa-linkedin-in"></i></a>
    <a class="btn btn-outline-light btn-floating m-1" href="https://github.com/AntonGeorgievGanev" role="button"><i class="fab fa-github"></i></a>
</section>