body {
   background-image: url("../images/5584425-toyota-wallpapers-min.jpg");
  /* -webkit-linear-gradient(rgba(22, 1, 1, 0.8), rgba(53, 1, 1, 0.8)), */
  /*background: */
  /*  url("/static/images/5584425-toyota-wallpapers-min.jpg");*/
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3em;
  color: white;
}

.navbar {
  background-color: black;
}

.main-message {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 1em;
  text-align: center;
  font-weight: 500;
  color: white;
  font-size: 1.5em;
  padding: 1em 8em;
}

a {
  text-decoration: none;
}

.footer-text {
  color: grey;
  text-align: center;
  background-color: black;
  margin: 0 auto;
  padding: 1em 1em;
}

.container {
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.reg-form {
  max-width: 800px;
  margin: 0 auto;
  align-content: center;
  padding: 2em 2em;
  background-color: rgb(29 28 28 / 75%);
  color: white;
  border-radius: 1em;
}

.register-button {
  text-align: center;
  width: 100%;
}

.social {
  position: fixed;
  bottom: 50px;
  width: 100%;
  text-align: center;
  margin: 0 auto;
}

.social-relative{
  position: relative;
  bottom: 50px;
  width: 100%;
  text-align: center;
  margin: 0 auto
}

.form-title-text {
  text-align: center;
  color: white;
  margin: 0;
  margin-bottom: 0.5em;
}

.form-text {
  font-size: 1.2em;
  text-align: center;
  color: white;
}

.login-form {
  max-width: 520px;
  margin: 0 auto;
  align-content: center;
  padding: 2em 2em;
  background-color: rgb(29 28 28 / 75%);
  color: white;
  border-radius: 1em;
}

.login-btn{
    margin-top: 1em;
    margin-bottom: 1em;
}

.search-cars-btn{
    margin-top: 1em;
}

.card-list{
  max-width: 1400px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 3em;
  overflow: auto;
  margin-top: 1em;
  margin-bottom: 4em;
}

.category-car-title{
  text-align: center;
  color: white;
}

.card{
  background-color:white;
}

.select-row{
  height: 38px;
  border-radius: 4px;
}

.add-car-form{
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 5em;
  margin-bottom: 5em;
}

.form-container{
  max-width: 1200px;
  height: 100%;
  margin: 0 auto;
  margin-top: 10em;
  margin-bottom: 14em;
}

.reg-form-container{
  max-width: 1200px;
  height: 100%;
  margin: 0 auto;
  margin-top: 6em;
  margin-bottom: 8em;
}

.fleet-wrapper{
  margin-top: 5em;
}

.home-container{
  margin: 0 auto;
  margin-bottom: 30em;
}

.table-wrapper{
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 8em;
}

.action-buttons{
  display: flex;
  gap: 1em;
  justify-content: center;
}

.action-td{
  text-align: center;
}

.logout-btn{
  background-color: transparent;
  border: none;
}

.login-error{
      color: #d70f21;
      font-size: 1em;
      margin: 0 auto;
      margin-top: 1em;
      max-width: 350px;
      text-align: center;
}

.price-list{
  margin-bottom: 0;
  padding: 0;
}