body {
    background-image: url("../images/background_404.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    font-family: Verdana;
}

.go_home{
    display: flex;
    justify-content: center;
}

.error-text{
    font-size: 2em;
    color: white;
}

a{
    text-decoration: none;
    color: grey;
}
