<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<th:block th:replace="~{fragments/head.html}"></th:block>

<body>

<th:block th:replace="~{fragments/navigation.html}"></th:block>

<div class="table-wrapper mt-5 pt-5">
    <h2 class="form-title-text">Manage cars</h2>
    <p class="form-title-text">*Only available cars can be managed*</p>
    <table class="table table-dark table-hover">
        <thead>
        <tr>
            <th scope="col">Brand</th>
            <th scope="col">Model</th>
            <th scope="col">Year</th>
            <th scope="col">Fuel Consumption</th>
            <th scope="col">Price per day</th>
            <th scope="col"  class="action-td">Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="car : ${allCarsDTO.getAllCarsDTO()}">
            <td th:text="${car.brand}">Brand</td>
            <td th:text="${car.model}">Model</td>
            <td th:text="${car.year}">Year</td>
            <td th:text="${car.fuelConsumption}">Fuel Consumption</td>
            <td th:text="${car.pricePerDay + ' $'}">Price $</td>
            <td>
                <div class="action-buttons">
                    <a class="btn btn-primary" th:href="@{/manage-fleet/edit/{id}(id=${car.id})}">Edit</a>

                    <form th:action="@{/manage-fleet/delete/{id}(id=${car.id})}" th:method="DELETE"
                          onsubmit="return confirm('Are you sure you want to delete this car?');">
                        <button class="btn btn-danger" type="submit">
                            Delete
                        </button>
                    </form>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<section class="social mb-4 text-center">
    <a class="btn btn-outline-light btn-floating m-1" href="https://www.facebook.com/anton.ganev.9/" role="button"><i class="fab fa-facebook-f"></i></a>
    <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="fab fa-google"></i></a>
    <a class="btn btn-outline-light btn-floating m-1" href="https://www.instagram.com/a_ganev/" role="button"><i class="fab fa-instagram"></i></a>
    <a class="btn btn-outline-light btn-floating m-1" href="https://www.linkedin.com/in/anton-ganev-029b89318/" role="button"><i class="fab fa-linkedin-in"></i></a>
    <a class="btn btn-outline-light btn-floating m-1" href="https://github.com/AntonGeorgievGanev" role="button"><i class="fab fa-github"></i></a>
</section>
<th:block th:replace="~{fragments/footer}"></th:block>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

</body>

</html>